body {
	background-color: #12173F;

}


.graduate-regular {
  font-family: "Graduate", serif;
  font-weight: 400;
  font-style: normal;
}

/*
#logo {
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('grizz-head.svg');
	background-position: center;
	background-repeat: no-repeat;
}

#logo h1 {
	color: #fff;
	font-size: 600%;
	font-weight: bold;
}
*/

.container {
	height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}